.page-section.bg-dark {
	background-color: #164b60 !important;
}

#contact {
	background-color: #164b60 !important;
}

.btn-primary {
	background-color: #4fc0d0 !important;
	border: #fff !important;
}

#tombol {
	background-color: #4fc0d0 !important;
	border: #fff !important;
}

